@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

body {
  background-color: #12100f;
}

h1 {
  color: rgb(136, 0, 0);
  font-family: fantasy;
}

.banner {
  background-image: url('img/4.png');
  width: 100%;
  background-position: bottom;
  background-attachment: fixed;
  text-align: center;
  background-size: cover;
  background-blend-mode: soft-light;
  padding: 250px 0;
}

.color-buttons {
  color: rgb(248, 0, 0);
  background-color: rgba(136, 0, 0, 0);
}

.topbar {
  background-color: rgba(136, 0, 0, 0.297);
}

.title-size {
  font-size: 700%;
  font-family: 'Nosifer', sans-serif;
}

.texto-rating {
  color: rgb(248, 0, 0);
}
