body {
  background-color: #12100f;
}

h1 {
  color: rgb(136, 0, 0);
}

.banner {
  background-image: url('img/4.png');
  width: 100%;
  background-position: bottom;
  background-attachment: fixed;
  text-align: center;
  background-size: cover;
  background-blend-mode: soft-light;
  padding: 270px 0;
}
